/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#333;

    height:100%;
    margin:0px;
    padding:0px;
    width:100%;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue";
    color: rgb( 47, 47, 47 );
    text-align: center;
}

.homeView input,
.renameListView input {
    width:100%;
    margin:0px;

    border-radius: 12px;
    margin-right: 20px;
    padding: 0px 20px;
    background: #075f73;
    border:1px solid #005669;
    box-shadow: 0px 4px 0px #65cce4;


    font-size: 32px;
    font-family: "Helvetica Neue", "Arial";
    color: rgb( 255, 255, 255 );
    line-height: 2.75;

}

::-webkit-input-placeholder {
    color:    #fff;
}

.inputWrapper {
    margin: 0px 40px 0px 0px;
}

.content.noteView,
.noteView {
    margin:0px;
    padding:0px;
}

.noteContent {
    padding: 20px 20px 0px 20px;
    margin-right: 0px;
    position: relative;
}

.noteView textarea {
    width: 544px;
    height: 300px;
    padding:28px;
    color: #096f86;
    font-size: 28px;
}


.viewNavigator_root {
    background: #075f73;
}

.viewNavigator_header {
    background-color: #fff;
    background-image: url('../images/header_background.jpg');
    background-repeat: repeat-x;
    height: 90px;
    color:black;
}

.viewNavigator_header_title {
    color:black;
    top:20px;
}

.viewNavigator_headerActions {

}

.viewNavigator_header_backlink {
    top:0px;
    left:0px;
    width:90px;
    height:88px;
    border:none;
    padding:0px;
    margin: 0px;
    box-shadow: none;
    background: url('../images/buttons/backbutton.png');
}

.viewNavigator_header_backlink.active,
.viewNavigator_header_backlink:active {
    background: url('../images/buttons/backbutton_active.png');
}


.viewNavigator_content {
    top:90px;
}

#scrollContent,
.viewNavigator_contentHolder>div:first-child {
    background-color:#57c2db;
    background-image: url('../images/background.jpg');
}


#scrollContent,
.content {
    padding:20px;
    overflow:hidden;
}

.viewNavigator_content .listView,
.noBackground {
    background: none;
}

.topHeaderActionContent {
    text-align:center;
    margin-right:120px;
    text-shadow: 0px 2px #fff;
    color: #6d6d6d;
    font-size: 2.3em;
    padding-top: 8px;
}

.viewNavigator_header_title {
    text-shadow: 0  0px 2px #fff;
    color: #6d6d6d;
    font-size: 2.3em;
    font-weight: normal;
}




#scrollable,
.scrollable {
    position: absolute;
    left: 0px;
    right:0px;
    bottom:88px;
    top:0px;
    /*padding-bottom: 40px;*/
}


#scrollContent,
.scrollContent {
    min-height: 100%;
}


.footer {
    position: fixed;
    left: 0px;
    right:0px;
    bottom:0px;
    text-align: center;
}

.footerBar {
    position: absolute;
    left: 0px;
    right:0px;
    bottom:0px;
    height:88px;
    background-image: url('../images/footer_background.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    z-index: 0;
}


.modal {
    -webkit-animation: fadeIn 500ms;
    position: absolute;
    left: 0px;
    right:0px;
    bottom:0px;
    top:0px;
    background: rgba(9,111,134,0.6);
    text-align: center;
}

.modal .options {
    background-color: #e1f3fd;
    border: 1px 1px 0px 1px solid #d9d9d9;
    max-width:50%;
    margin-left:auto;
    margin-right:auto;
}
.modal .options div {
    border-bottom: 1px solid #d9d9d9;
    color: #2f2f2f;
    font-size: 2.1rem;
    padding: 1rem;
}

.modal .options div:active {
    background-color: #f0dafb;
}

.hidden {
   display:none;
}

.footerActionsLayer {
    position: absolute;
    left: 0px;
    right:0px;
    bottom:0px;
}

#actionsButton {
    background: url('../images/footer_main_button.png');
    width: 138px;
    height: 148px;
    border: none;
    z-index: 99;
}


#actionsButton.active,
#actionsButton:active {
    background: url('../images/footer_main_button_down.png');
}


#actionsButton.close {
    background: url('../images/footer_main_button_close.png');
    width: 138px;
    height: 148px;
    border: none;
    z-index: 99;
}


#actionsButton.close.active,
#actionsButton.close:active {
    background: url('../images/footer_main_button_close_down.png');
}


#footerActionButtonContainer {
    width: 250px;
    height: 230px;
    display: inline-block;
    position: relative;
}

.footer #buttonContainer {
    position: absolute;
    bottom:60px;
    left:50%;
    width:0px;
    height:0px;
}

.footer #note,
.footer #pic,
.footer #audio {
    -webkit-transition: all 300ms ease-out;
    position: absolute;
    left: -37px;
    top: -37px;
    width: 74px;
    height: 74px;
    border: none;

}

.footer #note {

    -webkit-transform:translate3d( -90px, -112px, 0px );

    background: url('../images/buttons/pencil.png');
}

.footer #note.active,
.footer #note:active {
    background: url('../images/buttons/pencil_active.png');
}

.footer #pic {
    -webkit-transform:translate3d( 0px, -152px, 0px );

    background: url('../images/buttons/camera.png');
}

.footer #pic.active,
.footer #pic:active {
    background: url('../images/buttons/camera_active.png');
}

.footer #audio {
    -webkit-transform:translate3d( 90px, -112px, 0px );

    background: url('../images/buttons/mic.png');
}

.footer #audio.active,
.footer #audio:active {
    background: url('../images/buttons/mic_active.png');
}





.footer #note.hiddenButton,
.footer #audio.hiddenButton,
.footer #pic.hiddenButton {
    /*top: 75px;
    left:45px;*/
    -webkit-transform:translate3d( 0px, 0px, 0px );
}

#footerActions,
.footerActions{
    /*display: none;*/
    height: 222px;
}








.footerOptions {
    position:absolute;
    bottom: 0px;
    left:0px;
    right:0px;
    background: #e1f3fd;
    padding: 20px;
    margin:0px;
    font-size: 1.8rem;
}

.footerOptions h4 {
    font-size: 2.2rem;
    margin: 10px;
}

.footerOptions button img {
    vertical-align: text-top;
    margin-right: 20px;
}


.footerOptions p {
    margin: 10px;
}

.footerOptions button {
    width:100%;
    margin-top:20px;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: normal;
    background: none;
}

.footerOptions .warningButton {
    font-size: 24px;
    font-family: "Helvetica Neue";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 2px 4px rgb( 162, 48, 40 );

    border-style: solid;
    border-width: 2px;
    border-color: rgb( 195, 78, 65 );
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(228,90,77) 0%, rgb(250,110,94) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(228,90,77) 0%, rgb(250,110,94) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(228,90,77) 0%, rgb(250,110,94) 100%);
    box-shadow: 0px 4px 0px 0px rgb( 195, 78, 65 );
}

.footerOptions .warningButton:active,
.footerOptions .warningButton.active {
    background-image: -moz-linear-gradient( 90deg, rgb(228,90,77) 50%, rgb(250,110,94) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(228,90,77) 50%, rgb(250,110,94) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(228,90,77) 50%, rgb(250,110,94) 100%);
}


.defaultButton,
.footerOptions .defaultButton {
    font-size: 24px;
    font-family: "Helvetica Neue";
    color: rgb( 81, 85, 87 );
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 2px 4px rgb( 255, 255, 255 );

    border-style: solid;
    border-width: 2px;
    border-color: rgb( 207, 226, 236 );
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 4px 0px 0px rgb( 193, 211, 221 );
}

.defaultButton.active,
.footerOptions .defaultButton:active,
.footerOptions .defaultButton.active {
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
}




/* note details */

#addPhotoButton {
    position: absolute;
    left:0px;
    width:49%;
    height:88px;
    margin-bottom:20px;
    margin-right:20px;

    font-size: 28px;
    font-family: "Helvetica Neue";
    color: rgb( 81, 85, 87 );
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 2px 4px rgb( 255, 255, 255 );

    border-width: 2px;
    border-color: rgb( 207, 226, 236 );
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 4px 0px 0px rgb( 193, 211, 221 );
}

#addPhotoButton.active,
#addPhotoButton:active {
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
}

#addAudioButton {
    position: absolute;
    right:0px;
    width:49%;
    margin-bottom:20px;

    font-size: 28px;
    font-family: "Helvetica Neue";
    color: rgb( 81, 85, 87 );
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 2px 4px rgb( 255, 255, 255 );

    border-width: 2px;
    border-color: rgb( 207, 226, 236 );
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 4px 0px 0px rgb( 193, 211, 221 );
}
#addAudioButton.active,
#addAudioButton:active {
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
}

#addLocationButton {
    width:100%;
    margin-bottom:20px;

    font-size: 28px;
    font-family: "Helvetica Neue";
    color: rgb( 81, 85, 87 );
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 2px 4px rgb( 255, 255, 255 );

    border-width: 2px;
    border-color: rgb( 207, 226, 236 );
    border-radius: 8px;
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 4px 0px 0px rgb( 193, 211, 221 );
}
#addLocationButton.active,
#addLocationButton:active {
    background-image: -moz-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(208,227,237) 50%, rgb(255,255,255) 100%);
}

.buttonLabel {
    padding: 0px 00px 0px 0px;
}



.noteContent button {
    color:#515557;
    text-transform:uppercase;
    font-size: 26px;
    padding:0px 0px 0px 20px;
    margin: 0px;
    border:none;
    box-shadow: none;
}

.noteContent button img {
    vertical-align: -37%;
    padding-right: 11px;
}


.mediaContainer {
    background: #3092a9;
    padding-bottom: 20px;
    padding-top: 20px;
}

#photos li {
    text-align: center;
}

.photoItem {
    padding-top: 0px;
    display: block;
}

.photoThumbnail {
    min-height: 64px;
    min-width: 64px;
    max-width: 400px;
    max-height: 400px;
}

.audioItem {
    position:relative;
    background-color:#8ce4f8;
    margin:20px;
    padding:0px;
    height:96px;
    text-align: left;
    display: block;
}

.audioItem #mic {
    position:absolute;
    top:24px;
    left:26px;
}

.audioItem #playButton {
    position:absolute;
    top:22px;
    left:78px;
    border:none;
    width: 50px;
    height:50px;
    background-repeat: none;
    background: url('../images/buttons/play_button.png');
}
.audioItem #playButton.active {
    background: url('../images/buttons/play_button_active.png');
}


.audioItem #playButton.pauseButton {
    background: url('../images/buttons/pause_button.png');
}
.audioItem #playButton.pauseButton.active {
    background: url('../images/buttons/pause_button_active.png');
}

.audioItem #audioThumb {
    position:absolute;
    top:40px;
    left:148px;
    border:none;
}

.audioItem #audioTrack {
    position:absolute;
    top:40px;
    left:160px;
    right:110px;
    height:20px;
    background-color: #FFF;
}

.audioItem #audioTrack #progress {
    background-color: #22af7f;
    width:0%;
    height:100%;
}

.audioItem #deleteButton {
    position:absolute;
    top:22px;
    right:22px;
    border:none;
    width: 50px;
    height:50px;
    background-repeat: none;
    background: url('../images/buttons/delete_audio.png');
}
.audioItem #deleteButton.active {
    background: url('../images/buttons/delete_audio_active.png');
}


#photoContainer {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    overflow: hidden;
    background-color: #333;
}

#photoContainer #imageContainer {

    position: absolute;
    top:0px;
    left:0px;
}

#photoContainer #photo {

}


#photoContainer #focal {
    background-color: red;
    width: 20px;
    height:20px;
    margin:0px;
    padding: 0px;
    position: absolute;
}



.deletePhoto {
    position:absolute;
    top:0px;
    right:0px;
    width:90px;
    height:88px;
    border:none;
    padding:0px;
    margin: 0px;
    box-shadow: none;
    background: url('../images/buttons/delete_image.png');
}

.deletePhoto.active,
.deletePhoto:active {
    background: url('../images/buttons/delete_image_active.png');
}




.locationButton {
    position:absolute;
    top:0px;
    right:0px;
    width:90px;
    height:88px;
    border:none;
    padding:0px;
    margin: 0px;
    box-shadow: none;
    background: url('../images/buttons/location.png');
}

.locationButton.active,
.locationButton:active {
    background: url('../images/buttons/location_active.png');
}

.liContent {
    padding: 18px 16px;
    font-size: 22px;
    color: #125d6d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.liContent #name {
    padding:0px;
    margin:0px;
    font-size: 28px;
    color: #053d49;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}




/* LIST STYLES */
ul {
    padding: 0px;
    margin: 0px;
}


.geoList li,
.dataList li {
    width: 100%;
    height: 100px;
    display: block;
    list-style: none;
    padding:0px 0px 0px 12px;
    margin: 4px 0px 0px -6px;
    position: relative;
    color: #053d49;
    font-size: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
}

.dataList li.row0 .listContent {
    background-color: #c5f1fb;
}

.dataList li.row1 .listContent {
    background-color: #b2edfa;
}

.dataList li.row2 .listContent {
    background-color: #9fe8f9;
}

.dataList li.row3 .listContent {
    background-color: #8ce4f8;
}

.dataList li.row4 .listContent {
    background-color: #79dff6;
}

.dataList li.row5 .listContent {
    background-color: #66dbf5;
}

.dataList li.row6 .listContent {
    background-color: #3fd2f3;
}


.dataList li.selected .listContent {
    background-color: #f0dafb;
}

.listContent {
    background-color: #8ce4f8;
    width: 100%;
    height: 96px;
}


.geoList,
.dataList {
    position: relative;
    margin-left:-10px;
}

.geoList li,
.dataList li {
    position: absolute; top: 0; left: 0;
    -webkit-transition: all 0.2s ease-out;
}

.dataList li:nth-child(1), .geoList li:nth-child(1) { -webkit-transform: translate3d(0, 0%, 0); height: 100px}.dataList li:nth-child(2), .geoList li:nth-child(2) { -webkit-transform: translate3d(0, 100%, 0); height: 100px}.dataList li:nth-child(3), .geoList li:nth-child(3) { -webkit-transform: translate3d(0, 200%, 0); height: 100px}.dataList li:nth-child(4), .geoList li:nth-child(4) { -webkit-transform: translate3d(0, 300%, 0); height: 100px}.dataList li:nth-child(5), .geoList li:nth-child(5) { -webkit-transform: translate3d(0, 400%, 0); height: 100px}.dataList li:nth-child(6), .geoList li:nth-child(6) { -webkit-transform: translate3d(0, 500%, 0); height: 100px}.dataList li:nth-child(7), .geoList li:nth-child(7) { -webkit-transform: translate3d(0, 600%, 0); height: 100px}.dataList li:nth-child(8), .geoList li:nth-child(8) { -webkit-transform: translate3d(0, 700%, 0); height: 100px}.dataList li:nth-child(9), .geoList li:nth-child(9) { -webkit-transform: translate3d(0, 800%, 0); height: 100px}.dataList li:nth-child(10), .geoList li:nth-child(10) { -webkit-transform: translate3d(0, 900%, 0); height: 100px}.dataList li:nth-child(11), .geoList li:nth-child(11) { -webkit-transform: translate3d(0, 1000%, 0); height: 100px}.dataList li:nth-child(12), .geoList li:nth-child(12) { -webkit-transform: translate3d(0, 1100%, 0); height: 100px}.dataList li:nth-child(13), .geoList li:nth-child(13) { -webkit-transform: translate3d(0, 1200%, 0); height: 100px}.dataList li:nth-child(14), .geoList li:nth-child(14) { -webkit-transform: translate3d(0, 1300%, 0); height: 100px}.dataList li:nth-child(15), .geoList li:nth-child(15) { -webkit-transform: translate3d(0, 1400%, 0); height: 100px}.dataList li:nth-child(16), .geoList li:nth-child(16) { -webkit-transform: translate3d(0, 1500%, 0); height: 100px}.dataList li:nth-child(17), .geoList li:nth-child(17) { -webkit-transform: translate3d(0, 1600%, 0); height: 100px}.dataList li:nth-child(18), .geoList li:nth-child(18) { -webkit-transform: translate3d(0, 1700%, 0); height: 100px}.dataList li:nth-child(19), .geoList li:nth-child(19) { -webkit-transform: translate3d(0, 1800%, 0); height: 100px}.dataList li:nth-child(20), .geoList li:nth-child(20) { -webkit-transform: translate3d(0, 1900%, 0); height: 100px}.dataList li:nth-child(21), .geoList li:nth-child(21) { -webkit-transform: translate3d(0, 2000%, 0); height: 100px}.dataList li:nth-child(22), .geoList li:nth-child(22) { -webkit-transform: translate3d(0, 2100%, 0); height: 100px}.dataList li:nth-child(23), .geoList li:nth-child(23) { -webkit-transform: translate3d(0, 2200%, 0); height: 100px}.dataList li:nth-child(24), .geoList li:nth-child(24) { -webkit-transform: translate3d(0, 2300%, 0); height: 100px}.dataList li:nth-child(25), .geoList li:nth-child(25) { -webkit-transform: translate3d(0, 2400%, 0); height: 100px}.dataList li:nth-child(26), .geoList li:nth-child(26) { -webkit-transform: translate3d(0, 2500%, 0); height: 100px}.dataList li:nth-child(27), .geoList li:nth-child(27) { -webkit-transform: translate3d(0, 2600%, 0); height: 100px}.dataList li:nth-child(28), .geoList li:nth-child(28) { -webkit-transform: translate3d(0, 2700%, 0); height: 100px}.dataList li:nth-child(29), .geoList li:nth-child(29) { -webkit-transform: translate3d(0, 2800%, 0); height: 100px}.dataList li:nth-child(30), .geoList li:nth-child(30) { -webkit-transform: translate3d(0, 2900%, 0); height: 100px}.dataList li:nth-child(31), .geoList li:nth-child(31) { -webkit-transform: translate3d(0, 3000%, 0); height: 100px}.dataList li:nth-child(32), .geoList li:nth-child(32) { -webkit-transform: translate3d(0, 3100%, 0); height: 100px}.dataList li:nth-child(33), .geoList li:nth-child(33) { -webkit-transform: translate3d(0, 3200%, 0); height: 100px}.dataList li:nth-child(34), .geoList li:nth-child(34) { -webkit-transform: translate3d(0, 3300%, 0); height: 100px}.dataList li:nth-child(35), .geoList li:nth-child(35) { -webkit-transform: translate3d(0, 3400%, 0); height: 100px}.dataList li:nth-child(36), .geoList li:nth-child(36) { -webkit-transform: translate3d(0, 3500%, 0); height: 100px}.dataList li:nth-child(37), .geoList li:nth-child(37) { -webkit-transform: translate3d(0, 3600%, 0); height: 100px}.dataList li:nth-child(38), .geoList li:nth-child(38) { -webkit-transform: translate3d(0, 3700%, 0); height: 100px}.dataList li:nth-child(39), .geoList li:nth-child(39) { -webkit-transform: translate3d(0, 3800%, 0); height: 100px}.dataList li:nth-child(40), .geoList li:nth-child(40) { -webkit-transform: translate3d(0, 3900%, 0); height: 100px}.dataList li:nth-child(41), .geoList li:nth-child(41) { -webkit-transform: translate3d(0, 4000%, 0); height: 100px}.dataList li:nth-child(42), .geoList li:nth-child(42) { -webkit-transform: translate3d(0, 4100%, 0); height: 100px}.dataList li:nth-child(43), .geoList li:nth-child(43) { -webkit-transform: translate3d(0, 4200%, 0); height: 100px}.dataList li:nth-child(44), .geoList li:nth-child(44) { -webkit-transform: translate3d(0, 4300%, 0); height: 100px}.dataList li:nth-child(45), .geoList li:nth-child(45) { -webkit-transform: translate3d(0, 4400%, 0); height: 100px}.dataList li:nth-child(46), .geoList li:nth-child(46) { -webkit-transform: translate3d(0, 4500%, 0); height: 100px}.dataList li:nth-child(47), .geoList li:nth-child(47) { -webkit-transform: translate3d(0, 4600%, 0); height: 100px}.dataList li:nth-child(48), .geoList li:nth-child(48) { -webkit-transform: translate3d(0, 4700%, 0); height: 100px}.dataList li:nth-child(49), .geoList li:nth-child(49) { -webkit-transform: translate3d(0, 4800%, 0); height: 100px}.dataList li:nth-child(50), .geoList li:nth-child(50) { -webkit-transform: translate3d(0, 4900%, 0); height: 100px}.dataList li:nth-child(51), .geoList li:nth-child(51) { -webkit-transform: translate3d(0, 5000%, 0); height: 100px}.dataList li:nth-child(52), .geoList li:nth-child(52) { -webkit-transform: translate3d(0, 5100%, 0); height: 100px}.dataList li:nth-child(53), .geoList li:nth-child(53) { -webkit-transform: translate3d(0, 5200%, 0); height: 100px}.dataList li:nth-child(54), .geoList li:nth-child(54) { -webkit-transform: translate3d(0, 5300%, 0); height: 100px}.dataList li:nth-child(55), .geoList li:nth-child(55) { -webkit-transform: translate3d(0, 5400%, 0); height: 100px}.dataList li:nth-child(56), .geoList li:nth-child(56) { -webkit-transform: translate3d(0, 5500%, 0); height: 100px}.dataList li:nth-child(57), .geoList li:nth-child(57) { -webkit-transform: translate3d(0, 5600%, 0); height: 100px}.dataList li:nth-child(58), .geoList li:nth-child(58) { -webkit-transform: translate3d(0, 5700%, 0); height: 100px}.dataList li:nth-child(59), .geoList li:nth-child(59) { -webkit-transform: translate3d(0, 5800%, 0); height: 100px}.dataList li:nth-child(60), .geoList li:nth-child(60) { -webkit-transform: translate3d(0, 5900%, 0); height: 100px}.dataList li:nth-child(61), .geoList li:nth-child(61) { -webkit-transform: translate3d(0, 6000%, 0); height: 100px}.dataList li:nth-child(62), .geoList li:nth-child(62) { -webkit-transform: translate3d(0, 6100%, 0); height: 100px}.dataList li:nth-child(63), .geoList li:nth-child(63) { -webkit-transform: translate3d(0, 6200%, 0); height: 100px}.dataList li:nth-child(64), .geoList li:nth-child(64) { -webkit-transform: translate3d(0, 6300%, 0); height: 100px}.dataList li:nth-child(65), .geoList li:nth-child(65) { -webkit-transform: translate3d(0, 6400%, 0); height: 100px}.dataList li:nth-child(66), .geoList li:nth-child(66) { -webkit-transform: translate3d(0, 6500%, 0); height: 100px}.dataList li:nth-child(67), .geoList li:nth-child(67) { -webkit-transform: translate3d(0, 6600%, 0); height: 100px}.dataList li:nth-child(68), .geoList li:nth-child(68) { -webkit-transform: translate3d(0, 6700%, 0); height: 100px}.dataList li:nth-child(69), .geoList li:nth-child(69) { -webkit-transform: translate3d(0, 6800%, 0); height: 100px}.dataList li:nth-child(70), .geoList li:nth-child(70) { -webkit-transform: translate3d(0, 6900%, 0); height: 100px}.dataList li:nth-child(71), .geoList li:nth-child(71) { -webkit-transform: translate3d(0, 7000%, 0); height: 100px}.dataList li:nth-child(72), .geoList li:nth-child(72) { -webkit-transform: translate3d(0, 7100%, 0); height: 100px}.dataList li:nth-child(73), .geoList li:nth-child(73) { -webkit-transform: translate3d(0, 7200%, 0); height: 100px}.dataList li:nth-child(74), .geoList li:nth-child(74) { -webkit-transform: translate3d(0, 7300%, 0); height: 100px}.dataList li:nth-child(75), .geoList li:nth-child(75) { -webkit-transform: translate3d(0, 7400%, 0); height: 100px}.dataList li:nth-child(76), .geoList li:nth-child(76) { -webkit-transform: translate3d(0, 7500%, 0); height: 100px}.dataList li:nth-child(77), .geoList li:nth-child(77) { -webkit-transform: translate3d(0, 7600%, 0); height: 100px}.dataList li:nth-child(78), .geoList li:nth-child(78) { -webkit-transform: translate3d(0, 7700%, 0); height: 100px}.dataList li:nth-child(79), .geoList li:nth-child(79) { -webkit-transform: translate3d(0, 7800%, 0); height: 100px}.dataList li:nth-child(80), .geoList li:nth-child(80) { -webkit-transform: translate3d(0, 7900%, 0); height: 100px}.dataList li:nth-child(81), .geoList li:nth-child(81) { -webkit-transform: translate3d(0, 8000%, 0); height: 100px}.dataList li:nth-child(82), .geoList li:nth-child(82) { -webkit-transform: translate3d(0, 8100%, 0); height: 100px}.dataList li:nth-child(83), .geoList li:nth-child(83) { -webkit-transform: translate3d(0, 8200%, 0); height: 100px}.dataList li:nth-child(84), .geoList li:nth-child(84) { -webkit-transform: translate3d(0, 8300%, 0); height: 100px}.dataList li:nth-child(85), .geoList li:nth-child(85) { -webkit-transform: translate3d(0, 8400%, 0); height: 100px}.dataList li:nth-child(86), .geoList li:nth-child(86) { -webkit-transform: translate3d(0, 8500%, 0); height: 100px}.dataList li:nth-child(87), .geoList li:nth-child(87) { -webkit-transform: translate3d(0, 8600%, 0); height: 100px}.dataList li:nth-child(88), .geoList li:nth-child(88) { -webkit-transform: translate3d(0, 8700%, 0); height: 100px}.dataList li:nth-child(89), .geoList li:nth-child(89) { -webkit-transform: translate3d(0, 8800%, 0); height: 100px}.dataList li:nth-child(90), .geoList li:nth-child(90) { -webkit-transform: translate3d(0, 8900%, 0); height: 100px}.dataList li:nth-child(91), .geoList li:nth-child(91) { -webkit-transform: translate3d(0, 9000%, 0); height: 100px}.dataList li:nth-child(92), .geoList li:nth-child(92) { -webkit-transform: translate3d(0, 9100%, 0); height: 100px}.dataList li:nth-child(93), .geoList li:nth-child(93) { -webkit-transform: translate3d(0, 9200%, 0); height: 100px}.dataList li:nth-child(94), .geoList li:nth-child(94) { -webkit-transform: translate3d(0, 9300%, 0); height: 100px}.dataList li:nth-child(95), .geoList li:nth-child(95) { -webkit-transform: translate3d(0, 9400%, 0); height: 100px}.dataList li:nth-child(96), .geoList li:nth-child(96) { -webkit-transform: translate3d(0, 9500%, 0); height: 100px}.dataList li:nth-child(97), .geoList li:nth-child(97) { -webkit-transform: translate3d(0, 9600%, 0); height: 100px}.dataList li:nth-child(98), .geoList li:nth-child(98) { -webkit-transform: translate3d(0, 9700%, 0); height: 100px}.dataList li:nth-child(99), .geoList li:nth-child(99) { -webkit-transform: translate3d(0, 9800%, 0); height: 100px}.dataList li:nth-child(100), .geoList li:nth-child(100) { -webkit-transform: translate3d(0, 9900%, 0); height: 100px}.dataList li:nth-child(101), .geoList li:nth-child(101) { -webkit-transform: translate3d(0, 10000%, 0); height: 100px}.dataList li:nth-child(102), .geoList li:nth-child(102) { -webkit-transform: translate3d(0, 10100%, 0); height: 100px}.dataList li:nth-child(103), .geoList li:nth-child(103) { -webkit-transform: translate3d(0, 10200%, 0); height: 100px}.dataList li:nth-child(104), .geoList li:nth-child(104) { -webkit-transform: translate3d(0, 10300%, 0); height: 100px}.dataList li:nth-child(105), .geoList li:nth-child(105) { -webkit-transform: translate3d(0, 10400%, 0); height: 100px}.dataList li:nth-child(106), .geoList li:nth-child(106) { -webkit-transform: translate3d(0, 10500%, 0); height: 100px}.dataList li:nth-child(107), .geoList li:nth-child(107) { -webkit-transform: translate3d(0, 10600%, 0); height: 100px}.dataList li:nth-child(108), .geoList li:nth-child(108) { -webkit-transform: translate3d(0, 10700%, 0); height: 100px}.dataList li:nth-child(109), .geoList li:nth-child(109) { -webkit-transform: translate3d(0, 10800%, 0); height: 100px}.dataList li:nth-child(110), .geoList li:nth-child(110) { -webkit-transform: translate3d(0, 10900%, 0); height: 100px}.dataList li:nth-child(111), .geoList li:nth-child(111) { -webkit-transform: translate3d(0, 11000%, 0); height: 100px}.dataList li:nth-child(112), .geoList li:nth-child(112) { -webkit-transform: translate3d(0, 11100%, 0); height: 100px}.dataList li:nth-child(113), .geoList li:nth-child(113) { -webkit-transform: translate3d(0, 11200%, 0); height: 100px}.dataList li:nth-child(114), .geoList li:nth-child(114) { -webkit-transform: translate3d(0, 11300%, 0); height: 100px}.dataList li:nth-child(115), .geoList li:nth-child(115) { -webkit-transform: translate3d(0, 11400%, 0); height: 100px}.dataList li:nth-child(116), .geoList li:nth-child(116) { -webkit-transform: translate3d(0, 11500%, 0); height: 100px}.dataList li:nth-child(117), .geoList li:nth-child(117) { -webkit-transform: translate3d(0, 11600%, 0); height: 100px}.dataList li:nth-child(118), .geoList li:nth-child(118) { -webkit-transform: translate3d(0, 11700%, 0); height: 100px}.dataList li:nth-child(119), .geoList li:nth-child(119) { -webkit-transform: translate3d(0, 11800%, 0); height: 100px}.dataList li:nth-child(120), .geoList li:nth-child(120) { -webkit-transform: translate3d(0, 11900%, 0); height: 100px}.dataList li:nth-child(121), .geoList li:nth-child(121) { -webkit-transform: translate3d(0, 12000%, 0); height: 100px}.dataList li:nth-child(122), .geoList li:nth-child(122) { -webkit-transform: translate3d(0, 12100%, 0); height: 100px}.dataList li:nth-child(123), .geoList li:nth-child(123) { -webkit-transform: translate3d(0, 12200%, 0); height: 100px}.dataList li:nth-child(124), .geoList li:nth-child(124) { -webkit-transform: translate3d(0, 12300%, 0); height: 100px}.dataList li:nth-child(125), .geoList li:nth-child(125) { -webkit-transform: translate3d(0, 12400%, 0); height: 100px}.dataList li:nth-child(126), .geoList li:nth-child(126) { -webkit-transform: translate3d(0, 12500%, 0); height: 100px}.dataList li:nth-child(127), .geoList li:nth-child(127) { -webkit-transform: translate3d(0, 12600%, 0); height: 100px}.dataList li:nth-child(128), .geoList li:nth-child(128) { -webkit-transform: translate3d(0, 12700%, 0); height: 100px}.dataList li:nth-child(129), .geoList li:nth-child(129) { -webkit-transform: translate3d(0, 12800%, 0); height: 100px}.dataList li:nth-child(130), .geoList li:nth-child(130) { -webkit-transform: translate3d(0, 12900%, 0); height: 100px}.dataList li:nth-child(131), .geoList li:nth-child(131) { -webkit-transform: translate3d(0, 13000%, 0); height: 100px}.dataList li:nth-child(132), .geoList li:nth-child(132) { -webkit-transform: translate3d(0, 13100%, 0); height: 100px}.dataList li:nth-child(133), .geoList li:nth-child(133) { -webkit-transform: translate3d(0, 13200%, 0); height: 100px}.dataList li:nth-child(134), .geoList li:nth-child(134) { -webkit-transform: translate3d(0, 13300%, 0); height: 100px}.dataList li:nth-child(135), .geoList li:nth-child(135) { -webkit-transform: translate3d(0, 13400%, 0); height: 100px}.dataList li:nth-child(136), .geoList li:nth-child(136) { -webkit-transform: translate3d(0, 13500%, 0); height: 100px}.dataList li:nth-child(137), .geoList li:nth-child(137) { -webkit-transform: translate3d(0, 13600%, 0); height: 100px}.dataList li:nth-child(138), .geoList li:nth-child(138) { -webkit-transform: translate3d(0, 13700%, 0); height: 100px}.dataList li:nth-child(139), .geoList li:nth-child(139) { -webkit-transform: translate3d(0, 13800%, 0); height: 100px}.dataList li:nth-child(140), .geoList li:nth-child(140) { -webkit-transform: translate3d(0, 13900%, 0); height: 100px}.dataList li:nth-child(141), .geoList li:nth-child(141) { -webkit-transform: translate3d(0, 14000%, 0); height: 100px}.dataList li:nth-child(142), .geoList li:nth-child(142) { -webkit-transform: translate3d(0, 14100%, 0); height: 100px}.dataList li:nth-child(143), .geoList li:nth-child(143) { -webkit-transform: translate3d(0, 14200%, 0); height: 100px}.dataList li:nth-child(144), .geoList li:nth-child(144) { -webkit-transform: translate3d(0, 14300%, 0); height: 100px}.dataList li:nth-child(145), .geoList li:nth-child(145) { -webkit-transform: translate3d(0, 14400%, 0); height: 100px}.dataList li:nth-child(146), .geoList li:nth-child(146) { -webkit-transform: translate3d(0, 14500%, 0); height: 100px}.dataList li:nth-child(147), .geoList li:nth-child(147) { -webkit-transform: translate3d(0, 14600%, 0); height: 100px}.dataList li:nth-child(148), .geoList li:nth-child(148) { -webkit-transform: translate3d(0, 14700%, 0); height: 100px}.dataList li:nth-child(149), .geoList li:nth-child(149) { -webkit-transform: translate3d(0, 14800%, 0); height: 100px}.dataList li:nth-child(150), .geoList li:nth-child(150) { -webkit-transform: translate3d(0, 14900%, 0); height: 100px}.dataList li:nth-child(151), .geoList li:nth-child(151) { -webkit-transform: translate3d(0, 15000%, 0); height: 100px}.dataList li:nth-child(152), .geoList li:nth-child(152) { -webkit-transform: translate3d(0, 15100%, 0); height: 100px}.dataList li:nth-child(153), .geoList li:nth-child(153) { -webkit-transform: translate3d(0, 15200%, 0); height: 100px}.dataList li:nth-child(154), .geoList li:nth-child(154) { -webkit-transform: translate3d(0, 15300%, 0); height: 100px}.dataList li:nth-child(155), .geoList li:nth-child(155) { -webkit-transform: translate3d(0, 15400%, 0); height: 100px}.dataList li:nth-child(156), .geoList li:nth-child(156) { -webkit-transform: translate3d(0, 15500%, 0); height: 100px}.dataList li:nth-child(157), .geoList li:nth-child(157) { -webkit-transform: translate3d(0, 15600%, 0); height: 100px}.dataList li:nth-child(158), .geoList li:nth-child(158) { -webkit-transform: translate3d(0, 15700%, 0); height: 100px}.dataList li:nth-child(159), .geoList li:nth-child(159) { -webkit-transform: translate3d(0, 15800%, 0); height: 100px}.dataList li:nth-child(160), .geoList li:nth-child(160) { -webkit-transform: translate3d(0, 15900%, 0); height: 100px}.dataList li:nth-child(161), .geoList li:nth-child(161) { -webkit-transform: translate3d(0, 16000%, 0); height: 100px}.dataList li:nth-child(162), .geoList li:nth-child(162) { -webkit-transform: translate3d(0, 16100%, 0); height: 100px}.dataList li:nth-child(163), .geoList li:nth-child(163) { -webkit-transform: translate3d(0, 16200%, 0); height: 100px}.dataList li:nth-child(164), .geoList li:nth-child(164) { -webkit-transform: translate3d(0, 16300%, 0); height: 100px}.dataList li:nth-child(165), .geoList li:nth-child(165) { -webkit-transform: translate3d(0, 16400%, 0); height: 100px}.dataList li:nth-child(166), .geoList li:nth-child(166) { -webkit-transform: translate3d(0, 16500%, 0); height: 100px}.dataList li:nth-child(167), .geoList li:nth-child(167) { -webkit-transform: translate3d(0, 16600%, 0); height: 100px}.dataList li:nth-child(168), .geoList li:nth-child(168) { -webkit-transform: translate3d(0, 16700%, 0); height: 100px}.dataList li:nth-child(169), .geoList li:nth-child(169) { -webkit-transform: translate3d(0, 16800%, 0); height: 100px}.dataList li:nth-child(170), .geoList li:nth-child(170) { -webkit-transform: translate3d(0, 16900%, 0); height: 100px}.dataList li:nth-child(171), .geoList li:nth-child(171) { -webkit-transform: translate3d(0, 17000%, 0); height: 100px}.dataList li:nth-child(172), .geoList li:nth-child(172) { -webkit-transform: translate3d(0, 17100%, 0); height: 100px}.dataList li:nth-child(173), .geoList li:nth-child(173) { -webkit-transform: translate3d(0, 17200%, 0); height: 100px}.dataList li:nth-child(174), .geoList li:nth-child(174) { -webkit-transform: translate3d(0, 17300%, 0); height: 100px}.dataList li:nth-child(175), .geoList li:nth-child(175) { -webkit-transform: translate3d(0, 17400%, 0); height: 100px}.dataList li:nth-child(176), .geoList li:nth-child(176) { -webkit-transform: translate3d(0, 17500%, 0); height: 100px}.dataList li:nth-child(177), .geoList li:nth-child(177) { -webkit-transform: translate3d(0, 17600%, 0); height: 100px}.dataList li:nth-child(178), .geoList li:nth-child(178) { -webkit-transform: translate3d(0, 17700%, 0); height: 100px}.dataList li:nth-child(179), .geoList li:nth-child(179) { -webkit-transform: translate3d(0, 17800%, 0); height: 100px}.dataList li:nth-child(180), .geoList li:nth-child(180) { -webkit-transform: translate3d(0, 17900%, 0); height: 100px}.dataList li:nth-child(181), .geoList li:nth-child(181) { -webkit-transform: translate3d(0, 18000%, 0); height: 100px}.dataList li:nth-child(182), .geoList li:nth-child(182) { -webkit-transform: translate3d(0, 18100%, 0); height: 100px}.dataList li:nth-child(183), .geoList li:nth-child(183) { -webkit-transform: translate3d(0, 18200%, 0); height: 100px}.dataList li:nth-child(184), .geoList li:nth-child(184) { -webkit-transform: translate3d(0, 18300%, 0); height: 100px}.dataList li:nth-child(185), .geoList li:nth-child(185) { -webkit-transform: translate3d(0, 18400%, 0); height: 100px}.dataList li:nth-child(186), .geoList li:nth-child(186) { -webkit-transform: translate3d(0, 18500%, 0); height: 100px}.dataList li:nth-child(187), .geoList li:nth-child(187) { -webkit-transform: translate3d(0, 18600%, 0); height: 100px}.dataList li:nth-child(188), .geoList li:nth-child(188) { -webkit-transform: translate3d(0, 18700%, 0); height: 100px}.dataList li:nth-child(189), .geoList li:nth-child(189) { -webkit-transform: translate3d(0, 18800%, 0); height: 100px}.dataList li:nth-child(190), .geoList li:nth-child(190) { -webkit-transform: translate3d(0, 18900%, 0); height: 100px}.dataList li:nth-child(191), .geoList li:nth-child(191) { -webkit-transform: translate3d(0, 19000%, 0); height: 100px}.dataList li:nth-child(192), .geoList li:nth-child(192) { -webkit-transform: translate3d(0, 19100%, 0); height: 100px}.dataList li:nth-child(193), .geoList li:nth-child(193) { -webkit-transform: translate3d(0, 19200%, 0); height: 100px}.dataList li:nth-child(194), .geoList li:nth-child(194) { -webkit-transform: translate3d(0, 19300%, 0); height: 100px}.dataList li:nth-child(195), .geoList li:nth-child(195) { -webkit-transform: translate3d(0, 19400%, 0); height: 100px}.dataList li:nth-child(196), .geoList li:nth-child(196) { -webkit-transform: translate3d(0, 19500%, 0); height: 100px}.dataList li:nth-child(197), .geoList li:nth-child(197) { -webkit-transform: translate3d(0, 19600%, 0); height: 100px}.dataList li:nth-child(198), .geoList li:nth-child(198) { -webkit-transform: translate3d(0, 19700%, 0); height: 100px}.dataList li:nth-child(199), .geoList li:nth-child(199) { -webkit-transform: translate3d(0, 19800%, 0); height: 100px}.dataList li:nth-child(200), .geoList li:nth-child(200) { -webkit-transform: translate3d(0, 19900%, 0); height: 100px}

.left {
    position: absolute;
    left: 20px;
    top: 32px;

    max-width:85%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
}

.listContent .checkbox {
    position: absolute;
    left: 4px;
    top: 12px;
    width:60px;
    height:60px;
}

.left.checkBoxListLabel {
    top: 32px;
    left: 84px;
    max-width:75%;
}

.right {
    position: absolute;
    right: 26px;
    top:32px;
    text-align: right;
}

.right_img {
    position: absolute;
    right: 14px;
    top:14px;
    text-align: right;
}

.previewImage {
    width:68px;
    min-height: 68px;
    min-width: 68px;
    background-color: #0c9fc0;
    border:none;
}

.previewWrapper {
    width:68px;
    height:68px;
    max-width: 68px;
    max-height: 68px;
    display:inline-block;
    overflow: hidden;
    background-color: #0C9FC0;
    border:none;
}

.listContent {
    position: relative;
}

.listDelete {
    -webkit-transform: translate3d(0,0,0);
    height: 96px;
    width: 96px;
    position: absolute;
    left:100%;
    display:none;
    border:none;
    background: url('../images/buttons/delete.png');
}

.listDelete:active,
.listDelete.active {
    background: url('../images/buttons/delete_active.png');
}


.locationName {
    color: #FFF;
    font-weight: bold;
    background: #075f73;
    border:2px solid #005669;
    font-size: 32px;
    margin: -20px -20px 0px -20px;
    padding:20px;
    position: relative;
}

.locationClassification {

    position: absolute;
    text-align: right;
    top:4px;
    right:4px;
}

.locationMap img {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
}

.locationMap {
    height:240px;
    background: #097c96;
    margin-right: -20px;
    margin-left: -20px;
    border-bottom:1px solid #005669;
    box-shadow: inset 0px 4px 0px #65cce4;
}

.locationAddress {
    padding-top: 20px;
    position:relative;
    min-height: 108px;
    font-size: 28px;
}

.locationPhone {
    padding-top: 28px;
    position:relative;
    min-height: 108px;
    font-size: 28px;
}

.rightButton {
    position: absolute;
    top:20px;
    right:0px;
    width:200px;
    height:88px;
}

.topBorder {
    border-top:2px solid #005669;
}


.locActionButton {
    width:100%;
    padding:0px;
    font-size: 28px;
    text-align: left;
    height:88px;
    margin-bottom: 20px;
}




@-webkit-keyframes slideIn {
    from {
        top: 150px;
        left:90px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}


#precache {
    visibility: hidden;
    width: 0px;
    height:0px;
    position: absolute;
}

.hiddenScrollbar {
    display:none;
    visibility: hidden;
}



.script {
    font-size: 72px;
    font-family: "jenna_sueregular";
    color: rgb( 0, 0, 0 );
    text-align: center;
    text-shadow: 0px 4px 0px rgb( 126, 232, 255 );
}

#toggleKeyboard {
    position: absolute;
    bottom: 16px;
    right:30px;
    width:102px;
    height:62px;
    background: url('../images/buttons/show_keyboard_up.png');
}

#toggleKeyboard:active,
#toggleKeyboard .active
{
    background: url('../images/buttons/show_keyboard_active.png');
}


#toggleKeyboard.closeKeyboard {
    background: url('../images/buttons/hide_keyboard_up.png');
}

#toggleKeyboard.closeKeyboard:active,
#toggleKeyboard.closeKeyboard .active
{
    background: url('../images/buttons/hide_keyboard_active.png');
}