
<div class="content">

    <% if ( location_state == "RESULTS" ) { %>


    <ul class="dataList geoList">
        <% _.each(foursuare_locations, function(item) { %>

        <li id="<%= item.id %>">

                <div id="name"><%= item.name %></div>
                <%= item.location.address %>

        </li>

        <% }) %>
    </ul>


    <% } else if ( location_state == "COMPLETE" ) { %>


        <b><%= location_data.name %></b><br/>

        <% _.each(location_data.categories, function(category) { %>

            <img src="<%= category.icon.prefix %>32<%= category.icon.suffix %>" />
            <%= category.shortName %>

        <% }) %>
    <hr/>

    <%= location_data.location.address %>
    <%= location_data.location.city %>
    <%= location_data.location.state %>
    <%= location_data.location.postalCode %>
    <br/>

    <%= location_data.contact.formattedPhone %>

    <%= location_data.contact.twitter %>

    <br/>
    <!--
    <%= location_data.menu %>
        -->
    <hr/>

    <%= location_data.hours %>

    <hr/>

    <%= location_data.canonicalUrl %>

    <%= LATITUDE %>,
    <%= LONGITUDE %>


    <% } else if ( location_state == "SEARCHING" ) { %>
        Finding Location...

    <% } else  { %>
        Unable to determine your current location.  Please ensure that location services are enabled.

        <%= location_error %>
    <% }  %>

</div>