<% if ( notes.length > 0 ) { %>
    <ul id="incompleteList" class="dataList">
        <% _.each(notes, function(item) { %>

            <li id="<%= item.ID %>">
                <div class="listContent">

                    <input class="checkbox" type="checkbox" <% if (item.COMPLETE == true || item.COMPLETE == "TRUE") { %>checked<% } %> />
                    <span class="left checkBoxListLabel">
                        <%= item.DETAIL %>
                    </span>
                    <span class="right_img">


                        <%

                        var audio = 0;
                        var imgcount = 0;
                        var img = "";

                        if ( item.images != undefined ) {
                            imgcount = item.images.length;
                            img = (item.images.length > 0) ? item.images[0].REF : "";
                        } else {
                            imgcount = item.IMAGECOUNT;
                            img = item.IMAGE;
                        }

                        if ( item.soundclips != undefined ) {
                            audio = item.soundclips.length;
                        } else {
                            audio = item.AUDIO;
                        }

                        if ( audio == null || audio == undefined ) {
                            audio = 0;
                        }
                        if ( img == null || img == undefined ) {
                            img = "";
                        }
                        %>


                        <% if ( imgcount > 0 ) { %>

                            <% if ( imgcount > 1 || audio > 0 ) { %>
                                <img
                                    width="10" height="34"
                                    src="assets/images/paperclip_small.png" />
                            <% } %>

                            <span class="previewWrapper">
                                <img
                                    class="previewImage"
                                    width="34" height="34"
                                    data-original="<%= img %>" />
                            </span>

                        <% } else if ( audio > 0 ) { %>

                            <% if ( audio > 1 ) { %>
                                <img
                                    width="10" height="34"
                                    src="assets/images/paperclip_small.png" />
                            <% } %>

                            <span class="previewWrapper">
                                <img
                                    class="previewImage"
                                    width="34" height="34"
                                    src="assets/images/microphone_attachment.png" />
                            </span>



                        <% } %>
                    </span>
                    <button class="listDelete" id="<%= item.ID %>"></button>

                </div>
            </li>

        <% }) %>
    </ul>
    <ul id="completeList" class="dataList">

    </ul>
<% } else { %>
    No notes yet!
<% } %>