
<div class="content noteView">

    <div class="noteContent">
        <textarea id="noteContent" placeholder="Add your words..."><%= DETAIL %></textarea>
        <button id="toggleKeyboard" class="hidden"></button>
    </div>

    <% if ( images.length > 0 || soundclips.length > 0) { %>
        <div class="mediaContainer">
    <% } %>

    <% if ( images.length > 0 ) { %>
    <ul id="photos">
        <%
        var i = 0;
        _.each(images, function(item) { %>

        <li id="<%= item.ID %>" class="photoItem">
            <img
                class="photoThumbnail"
                src="<%= item.REF %>"
                index="<%= i %>" />
        </li>

        <% i ++;
        }) %>
    </ul>
    <% } %>

    <% if ( soundclips.length > 0 ) { %>
    <ul id="audio">
        <% _.each(soundclips, function(item) { %>


        <li id="<%= item.ID %>" src="<%= item.REF %>" class="audioItem">

            <img id="mic" src="assets/images/audio_mic.png" />
            <button id="playButton"></button>

            <div id="audioTrack">
                <div id="progress"></div>
            </div>

            <!--<img id="audioThumb" src="assets/images/audio_thumb.png" />-->

            <button id="deleteButton"></button>

        </li>

        <% }) %>
    </ul>
    <% } %>

    <% if ( images.length > 0 || soundclips.length > 0) { %>
        </div>
    <% } %>

    <div class="noteContent">
        <button id="addLocationButton">
            <img src="assets/images/buttons/button_location.png" />
            <img src="assets/images/icon_separator.png" />
            <span class="buttonLabel"><%= location_data.name %></span>
        </button>

        <div style="position: relative; width:100%px; height:88px;">
        <button id="addPhotoButton">
            <img src="assets/images/buttons/button_camera.png" />
            <img src="assets/images/icon_separator.png" />
            <span class="buttonLabel">Add Photo</span>
        </button>

        <button id="addAudioButton">
            <img src="assets/images/buttons/button_mic.png" />
            <img src="assets/images/icon_separator.png" />
            <span class="buttonLabel">Add Sound</span>
        </button>
        </div>
    </div>

    <br/>
    <br/>
    <br/>


</div>