
<div class="content listView">

    <div id="scrollable" >

        <div id="scrollContent">
            loading...
        </div>
    </div>

    <div class="footer">


        <div id="buttonContainer">
            <button id="note" class="hiddenButton"></button>
            <button id="pic" class="hiddenButton"></button>
            <button id="audio" class="hiddenButton"></button>
        </div>

        <div class="footerBar"></div>
        <div class="footerActionsLayer">
            <input type="button" id="actionsButton"></input>
        </div>

    </div>

</div>